{% extends 'main.html' %}

{% block content %}

    <main class="update-account layout">
        <div class="container">
            <div class="layout__box" style="max-height: 500px; overflow-y: auto; scrollbar-width: thin; scrollbar-color: #71c6dd #f0f0f0;">
                <style>
                    /* For WebKit browsers */
                    .layout__box::-webkit-scrollbar {
                        width: 4px;
                    }
                    .layout__box::-webkit-scrollbar-thumb {
                        background-color: #2d2d39; /* Updated color */
                        border-radius: 10px;
                    }
                    .layout__box::-webkit-scrollbar-track {
                        background-color: #3f4156; /* Updated color */
                    }
                </style>
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <a href="{% url 'home' %}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                        </a>
                        <h3>Edit your profile</h3>
                    </div>
                </div>
                <div class="layout__body">
                    <form class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% comment %} <div class="form__group">
                            <label for="avatar">Avatar</label>
                            {{ form.avatar }}
                        </div> {% endcomment %}

                        <div class="form__group" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label for="username">Username</label>
                                {{ form.username }}
                            </div>
                            <div style="flex: 1; margin-right: 10px;">
                                <label for="name">Name</label>
                                {{ form.name }}
                            </div>
                            <div style="flex: 1;">
                                <label for="email">Email</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="form__group">
                            <label for="bio">Bio</label>
                            {{ form.bio }}
                        </div>

                        <div class="form__group">
                            <label for="old_password">Current Password (only if changing password)</label>
                            {{ form.old_password }}
                        </div>

                        <div class="form__group" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label for="new_password1">New Password</label>
                                {{ form.new_password1 }}
                            </div>
                            <div style="flex: 1;">
                                <label for="new_password2">Verify Password</label>
                                {{ form.new_password2 }}
                            </div>
                        </div>

                        {% if form.errors %}
                        <div class="form__group">
                            <ul class="errorlist">
                                {% for error in form.non_field_errors %}
                                    <li style="color: red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="form__action">
                            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
                            <button class="btn btn--main" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
