<div class="activities">
  <div class="activities__header">
    <h2>Users ({{ users.count }})</h2>
  </div>
  {% for user in users %}
  {% if user.username %}
  <div class="activities__box">
    <div class="activities__boxHeader roomListRoom__header">
      <a href="{% url 'user-profile' user.id %}" class="roomListRoom__author">
        <div class="avatar avatar--small">
          <img src="{{ user.avatar.url }}" alt="{{ user.name }}'s avatar" />
        </div>
        <p style="font-size: 13px;">
          @{{ user.username }} 
          <br>
          <span style="font-size: 11px;">{{ user.name }}</span>
        </p>
      </a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <div style="padding: 10px 0; color: #71c6dd;">
    <div style="margin-left: 16px;">
      <a class="btn btn--link" href="{% url 'users' %}" style="color: #71c6dd; text-decoration: none;">
        More
        <svg version="1.1" id="icons_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128" xml:space="preserve"><style>.st0{display:none}.st1{display:inline}.st2{fill:#71c6dd}</style><g id="row2_1_"><g id="_x33__3_"><path class="st2" d="M64 .3C28.8.3.3 28.8.3 64s28.5 63.7 63.7 63.7 63.7-28.5 63.7-63.7S99.2.3 64 .3zm0 121C32.3 121.3 6.7 95.7 6.7 64 6.7 32.3 32.3 6.7 64 6.7c31.7 0 57.3 25.7 57.3 57.3 0 31.7-25.6 57.3-57.3 57.3zm-2-82.8c-2.2 0-3.9 1.8-3.9 3.9l12.2 15.2H41.7c-2.2 0-3.2 2.2-3.2 4.4v4c0 2.2 1.8 3.9 3.9 3.9h28.4L58.1 85.6c0 2.2 1.8 3.9 3.9 3.9h7.1L95.8 64 69.1 38.5H62z" id="right_1_"/></g></g></svg>
      </a>
    </div>
  </div>
</div>
